body {
    background-color: rgb(0, 0, 0);
    color: #00ff7b;
    font-size:x-large;

}
h1 {
    color:#444444;
    font-size:xx-large
}
span {
    font-size:x-large;
    font-weight: bold;
    color:chartreuse
}
div{
    font-size:x-large;
    font-weight: bold;
    color:royalblue
}